[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycrobit-mrgallo = {editable = true,path = "."}
pytest = "*"
mypy = "*"
twine = "*"
setuptools = "*"
wheel = "*"
pycodestyle = "*"
flake8 = "*"
uflash = "*"
arcade = "*"

[packages]
pyserial = "*"

[requires]
python_version = "3.8"
